
<footer class="footer-section">
  <div class="container py-3">
    <div class="row gy-4 text-center text-md-start">
      <!-- Column 1: Branding & Icons -->
      <div class="col-md-4">

        <h5 class="footer-title"><span class="name">Zainab Ansari</span></h5>
        <p class="footer-tagline">Crafting impactful digital experiences with code &amp; creativity.</p>
          <div class="footer-icons col-md-4">
            <a href="mailto:zainuuansari@gmail.com" class="footer-icon">
            <img width="30" height="30" src="https://img.icons8.com/color/48/gmail-new.png" alt="gmail-new"/>
            </a>
            <a href="https://github.com/ZainabAnsari28" target="_blank" aria-label="GitHub">
              <img width="30" height="30" src="https://img.icons8.com/3d-fluency/94/github.png" alt="github"/>
            </a>
            <a href="https://www.linkedin.com/in/zainabansari28" target="_blank" aria-label="LinkedIn">
              <img width="30" height="30" src="https://img.icons8.com/3d-fluency/94/linkedin--v2.png" alt="linkedin--v2"/>
            </a>
          </div>

        
      </div>

      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled footer-nav">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
          <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
          <li><a routerLink="/experienced" routerLinkActive="active">Expertise</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>

      <!-- Column 3: Specializations -->
      <div class="col-md-4">
        <h5>Specializations</h5>
        <ul class="list-unstyled">
          <li>Java</li>
          <li>Spring Boot</li>
          <li>Angular</li>
          <li>MySQL</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>

    <div class="text-center small text-muted mt-4">
      © 2025 Zainab Ansari. Crafted with
      <img width="25" height="25" src="https://img.icons8.com/emoji/48/red-heart.png" alt="red-heart"/> 
      and built with
      <img width="25" height="25" src="https://img.icons8.com/emoji/48/fire.png" alt="fire"/>
    </div>
    <!-- <hr /> -->
    <div class="text-center small text-muted lastline">
      <p>Open to exciting opportunities and collaborations</p>
      <p>Currently based in <img width="25" height="25" src="https://img.icons8.com/emoji/48/india-emoji.png" alt="india-emoji"/><strong> · </strong> Available for remote <img width="25" height="25" src="https://img.icons8.com/color/48/around-the-globe.png" alt="around-the-globe"/></p>
    </div>
  </div>
</footer>
