<div class="chat-icon" *ngIf="!isChatOpen"  (click)="toggleChat()">
  <div class="chatbot"><img width="60" height="60" src="https://img.icons8.com/3d-fluency/94/facebook-messenger.png" alt="facebook-messenger"/></div> 
</div>
<div class="chat-window card shadow" *ngIf="isChatOpen">
<div class="card-header">
  <div class="d-flex justify-content-between align-items-center">
    <div class="fw-bold">
      <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/retro-robot.png" alt="retro-robot"/>
      AI Assistant
    </div>
    <button class="btn-close" (click)="toggleChat()"></button>
  </div>
  <div class="mt-0">
    <small class="text-light">Ask About <span>Zainab</span></small>
  </div>
</div>
  <div class="card-body chat-body">
   <div *ngFor="let msg of messages">
            <div *ngIf="isTyping" class="text-start">
        <span class="badge bg-secondary typing-indicator">
          <img width="20" height="20" src="https://img.icons8.com/3d-fluency/94/retro-robot.png" alt="retro-robot"/>
          Typing<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
        </span>
      </div>
      <div [ngClass]="{'text-end': msg.from === 'user', 'text-start': msg.from === 'bot'}">
        <span class="badge bg-secondary" *ngIf="msg.from === 'bot'"><img width="20" height="20" src="https://img.icons8.com/3d-fluency/94/retro-robot.png" alt="retro-robot"/> {{ msg.text }}</span>
        <span class="badge bg-info text-dark" *ngIf="msg.from === 'user'"><img width="20" height="20" src="https://img.icons8.com/lollipop/48/change-user-male.png" alt="change-user-male"/> {{ msg.text }}</span>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center gap-2">
  <input [(ngModel)]="userInput" class="form-control" placeholder="Ask About Zainab's Work..." (keyup.enter)="sendMessage()" />
  <button class="btn btn-link p-0" (click)="sendMessage()" style="border: none;">
    <img width="30" height="30" src="https://img.icons8.com/lollipop/48/sent.png" alt="sent"/>
  </button>
  </div>
</div>
