<div class="experience-certificates-section container-fluid  mt-5">
  <h2><span>My</span> Expertise</h2>  
   <h5>Each credential I hold is a milestone in my pursuit of excellence, driving impactful solutions in today's tech landscape.</h5>
  <ul class="nav nav-tabs justify-content-center mb-4" id="expertiseTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="experience-tab" data-bs-toggle="tab" data-bs-target="#experience" type="button" role="tab" aria-controls="experience" aria-selected="true">
        Experience
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="certificates-tab" data-bs-toggle="tab" data-bs-target="#certificates" type="button" role="tab" aria-controls="certificates" aria-selected="false">
        Certificates
      </button>
    </li>
  </ul>

  <div class="tab-content" id="expertiseTabsContent">
    <div class="tab-pane fade show active" id="experience" role="tabpanel" aria-labelledby="experience-tab">
      <section class="experience-section">
        <div>
          <h3 class="section-title text-center mb-4"><img width="45" height="45" src="https://img.icons8.com/3d-fluency/94/positive-dynamic.png" alt="positive-dynamic"/> Experience</h3>
        </div>
        
        <div class="highlight-box text-center mb-4">
          <blockquote>
            “Growth is never by mere chance; it is the result of forces working together.” - James Cash Penney
          </blockquote>
        </div>

        <div class="timeline d-flex flex-column gap-4">
              <div class="card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <div class="role-entry d-flex align-items-start gap-2">
                    <div class="logo-wrapper me-2">
                        <img src="/assets/icons/CapgeminiIcon.png" class="company-logo" alt="Capgemini Logo">
                      </div>
                      <div class="text-wrapper">
                        <h6><strong>Capgemini</strong></h6>
                        <h5 class="card-title">Senior Analyst</h5>
                        <p> Navi Mumbai (On-site)</p>
                        <p><span><img width="20" height="20" src="https://img.icons8.com/fluency/48/calendar.png" alt="calendar"/> July 2025 - Present </span></p>
                        <p><img width="25" height="25" src="https://img.icons8.com/arcade/64/diamond.png " alt="diamond"/> Promoted to <strong>Senior Analyst </strong> continuing to contribute as a <strong>full stack developer </strong> with expanded responsibilities 
                          including mentoring junior team members, handling complex issue resolutions, and driving enhancements across <strong> TotalEnergies </strong> applications</p>
                      </div>
                    </div>
                </div>
                <hr class="role-divider">
                  <div class="card-body">                   
                    <!-- <div class="growth-arrow">
                      <span class="arrow-icon"><img width="70" height="200" src="https://img.icons8.com/external-inkubators-blue-inkubators/25/external-arrow-up-arrow-lite-inkubators-blue-inkubators.png" alt="external-arrow-up-arrow-lite-inkubators-blue-inkubators"/></span>
                    </div> -->
                    <div class="role-entry d-flex align-items-start gap-2">
                      <div class="logo-wrapper me-2">
                        <img src="/assets/icons/CapgeminiIcon.png" class="company-logo" alt="Capgemini Logo">
                      </div>
                      <div class="text-wrapper">
                        <h6><strong>Capgemini</strong></h6>
                        <h5 class="card-title">Analyst</h5>
                        <p> Navi Mumbai (On-site)</p>
                        <p><span><img width="20" height="20" src="https://img.icons8.com/fluency/48/calendar.png" alt="calendar"/> Oct 2023 - June 2025 </span></p>
                        <p><img width="25" height="25" src="https://img.icons8.com/arcade/64/diamond.png" alt="diamond"/> As an Analyst, completed <strong> advanced full stack training</strong> ,cleared L1 certification, and contributed to <strong> TotalEnergies</strong> project (Spill Wizard & Anael applications).</p>
                      </div>  
                    </div>  
                  </div>
                <hr class="role-divider">
                <div class="card-body">
                 <!-- <div class="growth-arrow">
                      <span class="arrow-icon"><img width="70" height="200" src="https://img.icons8.com/external-inkubators-blue-inkubators/25/external-arrow-up-arrow-lite-inkubators-blue-inkubators.png" alt="external-arrow-up-arrow-lite-inkubators-blue-inkubators"/></span>
                    </div> -->
                  <div class="role-entry d-flex align-items-start gap-2">
                      <div class="logo-wrapper me-2">
                        <img src="/assets/icons/CapgeminiIcon.png" class="company-logo" alt="Capgemini Logo">
                      </div>
                      <div class="text-wrapper">
                        <h6><strong>Capgemini</strong></h6>
                        <h5 class="card-title">Internship Trainee</h5>
                        <p>Bhopal (Remote)</p>
                        <p><span><img width="20" height="20" src="https://img.icons8.com/fluency/48/calendar.png" alt="calendar"/> Jan 2023 - May 2023 </span></p>
                        <p><img width="25" height="25" src="https://img.icons8.com/arcade/64/diamond.png" alt="diamond"/> Completed an intensive full stack development training program covering <strong>Git, GitHub, Java, OOPs, Spring Boot (REST APIs), PostgreSQL, HTML5, CSS3, JavaScript </strong>
                          Gained hands-on experience through multiple skill-based assignments and mini-projects.</p>
                      </div>    
                  </div>        
                </div>
              </div>
        
      </div>
    </section>
  </div>
 

    <div class="tab-pane fade" id="certificates" role="tabpanel" aria-labelledby="certificates-tab">
      <section class="certificates-section mt-5">
        <h3 class="section-title text-center mt-5 mb-4"><img width="30" height="30" src="https://img.icons8.com/emoji/48/trophy-emoji.png" alt="trophy-emoji"/> Certificates</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/HTML5_CSS3.jpg" class="card-img-top blurred-img" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/HTML5_CSS3.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/IntroductionJava.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/IntroductionJava.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>
    
     <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/JavaPrograming.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/JavaPrograming.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/JavaScript.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/JavaScript.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/OOP_JavaScript_ES6.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/OOP_JavaScript_ES6.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

   <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/Spring FrameWork.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/Spring FrameWork.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

   <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/Java Microservices.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/Java Microservices.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

   <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/GettingStartedWithAngular.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/GettingStartedWithAngular.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

   <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/BootStrap.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/BootStrap.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/GenAI.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/GenAI.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>

   <div class="col">
      <div class="card certificate-card position-relative shadow-sm">
        <img src="assets/certificates/Appreciation.jpg" class="card-img-top" alt="Certificate">
        <div class="overlay">
          <button class="view-btn" data-bs-toggle="modal" data-bs-target="#certificateModal" (click)="openModal('assets/certificates/Appreciation.jpg')">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visible--v1.png" alt="visible--v1"/>
          </button>
        </div>
      </div>
    </div>
    
  </div>
  </section>
  </div>
</div>
</div>

<div class="modal fade" id="certificateModal" tabindex="-1" aria-labelledby="certificateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark position-relative">
      <div class="modal-body text-center">
        <img [src]="selectedImage" class="img-fluid rounded" alt="Certificate">
      </div>
    </div>
  </div>
</div>


