html, body { height: 100%; }
body { margin: 0; font-family: "EB Garamond", serif; }
html, body, main {
  overflow: visible !important;
}


.mat-accent .mat-progress-bar-fill::after {
  background-color: #9f336c !important;
}
/* Input text */
.mat-mdc-input-element {
  color: #2c3e50 !important;
  background-color: #fff !important;
  font-weight: 500 !important;
  caret-color: #2c3e50 !important;
}

.mat-mdc-input-element::placeholder {
  color: transparent !important;
}

.mat-mdc-input-element:focus::placeholder {
  color: #999 !important;
  opacity: 1 !important;
  font-weight: 400;
}

/* Orbit circles */
.orbit {
  animation: rotate-orbit 20s linear infinite;
  transform-origin: center center;
  position: absolute;
  width: 400px;
  height: 350px;
  top: -20px;
  left: -60px;
  border-radius: 50%;
  mix-blend-mode: screen;
  z-index: 1;
}

.orbit1 {
  background: linear-gradient(45deg, #3f51b5, #e14899, #00c6ff, #9f336c);
  animation-duration: 30s;
}

.orbit2 {
  background: linear-gradient(135deg, #00c6ff, #e14899, #3f51b5, #9f336c);
  animation-duration: 40s;
}

/* Orbit wrapper */
.orbit-wrapper {
  animation: rotate-orbit-reverse 20s linear infinite;
  transform-origin: center center;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

@keyframes rotate-orbit {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate-orbit-reverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

@media (max-width: 768px) {
  .orbit-wrapper {
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
  }

  .orbit1, .orbit2 {
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
  }
}


.custom-snackbar-theme {
 background: linear-gradient(to right, #e0f7fa, #fce4ec);
  color: #2c3e50; /* Dark text for contrast */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-snackbar-theme .mat-button {
  color: #fff; /* Close button color */
  font-weight: bold;
}
